<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="yanCustomer"
		  class="myspringlove.model.Customer">
	<property name="name" value="Yan"></property>	
	<property name="age" value="14"></property>	  
	</bean>
	
	<bean name ="customerRepository"
		  class="myspringlove.repository.CustomerRepositoryImpl">
		  <!--    <constructor-arg index="0" value="Boris"></constructor-arg> -->
		  <constructor-arg index="0" ref="yanCustomer"></constructor-arg>
	</bean>
	<bean name="customerService"
		  class="myspringlove.service.CustomerServiceImpl">
		  <property name="customerRepository" ref="customerRepository" />
		
		 
	
	</bean>

</beans>
